<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>In To the Seoul</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <style>
        .btn_tag:hover{
            background-color: #424242;
        }
    </style>
    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/assets/img/logo/labelImg.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index"><img src="/assets/img/logo/labelImg.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <!-- Header-btn -->
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? Hero Area Start-->
    <div class="slider-area hero-bg1 hero-overly">
        <div class="single-slider hero-overly  slider-height1 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <!-- Hero Caption -->
                        <div class="hero__caption pt-100">
                            <h1>Explore History In Seoul</h1>
                            <p>Let's click the map to look around Seoul</p>
                        </div>
                        <div>
                            <img id="indexMap" src="/assets/img/mouseOutMap.png" usemap="#image-map" style="width:100%; height:100%;">
                            <map name="image-map">
                                <area target="_self" alt="구로구" title="구로구" href="range_search?indexLat=37.4954856&indexLng=126.858121" coords="299,360,293,388,298,406,290,417,303,424,308,420,318,422,326,416,332,412,337,406,342,402,346,391,355,393,359,397,361,403,369,401,375,401,381,401,385,395,386,388,383,377,380,365,373,357,362,366,350,363,340,354,328,363,315,367,309,359,301,357" shape="poly">
                                <area target="_self" alt="금천구" title="금천구" href="range_search?indexLat=37.4600969&indexLng=126.9001546" coords="362,403,362,414,365,422,367,429,374,436,378,442,380,451,382,461,384,470,386,475,394,478,401,478,406,475,411,472,414,463,417,455,410,446,408,440,406,430,406,421,405,410,399,405,391,398,377,401" shape="poly">
                                <area target="_self" alt="관악구" title="관악구" href="range_search?indexLat=37.4653993&indexLng=126.9438071" coords="402,402,413,394,426,387,443,384,456,387,465,394,469,403,473,412,480,417,487,416,495,425,497,430,500,437,502,442,488,456,480,461,469,469,462,480,435,478,426,467,420,464,410,446" shape="poly">
                                <area target="_self" alt="동작구" title="동작구" href="range_search?indexLat=37.4965037&indexLng=126.9443073" coords="432,347,425,358,420,366,422,376,418,381,407,386,400,397,411,395,421,392,427,386,435,384,448,386,456,387,464,391,470,402,470,408,477,414,483,415,493,414,493,403,495,393,496,385,493,377,484,371,479,364,455,354" shape="poly">
                                <area target="_self" alt="서초구" title="서초구" href="range_search?indexLat=37.4769528&indexLng=127.0378103" coords="481,365,497,364,524,339,533,348,538,356,538,370,543,375,547,386,546,396,559,408,566,414,570,428,573,437,590,434,600,425,609,424,615,432,616,441,626,448,630,454,619,464,614,471,607,473,595,483,586,492,574,494,559,480,552,441,542,438,528,443,526,449,523,454,516,451,508,438,502,443,493,420,495,385,492,373" shape="poly">
                                <area target="_self" alt="강남구" title="강남구" href="range_search?indexLat=37.4959854&indexLng=127.0664091" coords="528,337,537,330,550,330,561,328,575,335,592,344,595,354,595,366,602,378,620,387,636,391,640,399,646,403,654,426,661,433,652,450,635,451,629,453,616,438,613,428,602,423,593,431,574,435,568,416,548,398,545,378,537,369,536,353" shape="poly">
                                <area target="_self" alt="송파구" title="송파구" href="range_search?indexLat=37.5048534&indexLng=127.1144822" coords="598,345,616,345,626,342,635,334,646,320,651,306,659,310,662,318,658,327,663,336,666,347,673,345,679,349,678,355,678,360,678,365,681,370,686,376,698,380,702,385,697,393,694,404,689,410,682,412,682,425,669,429,663,434,652,411,639,397,638,391,605,379,596,363" shape="poly">
                                <area target="_self" alt="강동구" title="강동구" href="range_search?indexLat=37.5492077&indexLng=127.1464824" coords="661,312,652,305,662,282,674,272,687,272,694,271,707,264,718,257,721,264,730,272,729,288,733,301,732,312,712,313,697,319,697,334,684,350,667,343,659,329" shape="poly">
                                <area target="_self" alt="광진구" title="광진구" href="range_search?indexLat=37.5481445&indexLng=127.0857528" coords="587,328,598,334,614,333,626,327,635,313,640,299,645,286,636,278,637,260,621,265,611,263,600,284,600,302,588,314" shape="poly">
                                <area target="_self" alt="중랑구" title="중랑구" href="range_search?indexLat=37.5953795&indexLng=127.0939669" coords="606,194,606,210,607,227,607,244,607,258,619,263,635,260,645,245,650,233,655,224,653,216,660,207,661,196,657,191,653,186,645,182,636,187,623,186" shape="poly">
                                <area target="_self" alt="동대문구" title="동대문구" href="range_search?indexLat=37.5838012&indexLng=127.0507003" coords="604,206,597,211,582,211,570,222,566,231,554,235,543,251,547,264,554,266,558,261,568,261,574,270,599,283,607,264,606,233" shape="poly">
                                <area target="_self" alt="성동구" title="성동구" href="range_search?indexLat=37.5506753&indexLng=127.0409622" coords="545,265,544,280,535,292,529,303,533,318,548,315,560,318,567,318,576,326,583,329,586,315,594,307,599,299,599,283,579,275,571,264,560,263,555,269,551,268" shape="poly">
                                <area target="_self" alt="용산구" title="용산구" href="range_search?indexLat=37.5311008&indexLng=37.5311008" coords="471,294,467,311,451,325,454,334,464,343,475,353,489,354,497,351,509,341,521,327,533,319,531,307,525,298,509,298,500,290" shape="poly">
                                <area target="_self" alt="중구" title="중구" href="range_search?indexLat=37.5579452&indexLng=126.9941904" coords="478,269,467,279,473,288,487,291,500,292,509,298,524,300,536,291,541,273,540,263,516,267,505,267,496,261" shape="poly">
                                <area target="_self" alt="양천구" title="양천구" href="range_search?indexLat=37.5270616&indexLng=126.8561534" coords="301,309,304,318,304,327,302,336,300,348,298,354,306,356,314,363,322,361,327,358,336,353,342,354,346,358,349,363,362,363,366,356,366,348,367,337,375,322,379,317,373,302,369,295,355,295,355,307,354,314,348,318,341,325,326,320,320,313,314,302,306,300" shape="poly">
                                <area target="_self" alt="강서구" title="강서구" href="range_search?indexLat=37.5657617&indexLng=126.8226561" coords="275,201,270,211,268,241,264,253,250,260,240,280,245,294,270,316,281,307,300,307,309,298,316,309,322,315,335,323,342,323,347,318,355,314,354,304,356,295,363,297,370,297,369,288,340,259,302,222" shape="poly">
                                <area target="_self" alt="마포구" title="마포구" href="range_search?indexLat=37.5622906&indexLng=126.9087803" coords="373,224,365,238,353,241,343,244,349,255,357,264,367,276,381,285,404,303,423,310,433,316,447,325,458,316,466,307,470,287,458,281,435,276,413,261,397,241" shape="poly">
                                <area target="_self" alt="은평구" title="은평구" href="range_search?indexLat=37.6176125&indexLng=126.9227004" coords="452,116,446,127,432,128,425,133,409,131,407,158,402,174,404,189,400,207,397,221,378,226,388,233,397,241,404,244,411,233,427,230,438,217,462,217,462,178,469,163,475,155,474,139" shape="poly">
                                <area target="_self" alt="서대문구" title="서대문구" href="range_search?indexLat=37.5820369&indexLng=126.9356665" coords="435,222,431,230,411,232,405,249,413,259,428,269,438,276,459,280,475,271,464,259,462,245,471,228,467,218,452,221" shape="poly">
                                <area target="_self" alt="종로구" title="종로구" href="range_search?indexLat=37.5990998&indexLng=126.9861493" coords="485,155,477,158,469,166,464,174,462,193,460,209,466,218,471,225,469,237,463,246,464,256,479,268,491,261,504,265,517,265,547,261,545,252,527,248,512,228,494,221,496,213,502,206,497,178" shape="poly">
                                <area target="_self" alt="성북구" title="성북구" href="range_search?indexLat=37.606991&indexLng=127.0232185" coords="496,155,488,159,495,172,499,189,504,208,496,214,497,223,515,226,522,236,529,249,545,252,552,237,566,229,581,213,605,205,603,194,592,191,579,177,570,196,552,197,536,195,531,180,523,172,514,161,504,159" shape="poly">
                                <area target="_self" alt="강북구" title="강북구" href="range_search?indexLat=37.6469954&indexLng=127.0147158" coords="522,76,511,80,504,99,499,108,497,126,499,136,496,152,504,158,513,159,519,165,525,170,531,177,534,188,538,195,549,195,566,195,577,173,562,149,551,138,540,131,527,121,529,105,530,90" shape="poly">
                                <area target="_self" alt="도봉구" title="도봉구" href="range_search?indexLat=37.6658609&indexLng=127.0317674" coords="527,76,530,105,529,117,530,123,537,127,545,134,556,141,564,152,575,165,579,155,582,137,584,125,585,115,581,103,582,89,584,77,585,69,570,64,561,60,558,54,535,55" shape="poly">
                                <area target="_self" alt="노원구" title="노원구" href="range_search?indexLat=37.655264&indexLng=127.0771201" coords="586,185,604,194,621,184,638,186,645,174,654,164,650,146,633,138,628,131,630,124,631,115,639,108,637,99,631,89,637,69,622,64,607,55,588,67,581,99,588,115,584,138,579,168" shape="poly">
                            </map>
                        </div>
                        <div class="tag">
                            <input class="btn_tag" type="button" style="cursor: pointer;" value='#Let&quot;s walk Together' onclick="location.href='tag1'">
                            <input class="btn_tag" type="button" style="cursor: pointer" value='#Spectacular Night View' onclick="location.href='tag2'">
                            <input class="btn_tag" type="button" style="cursor: pointer" value='#Newtro' onclick="location.href='tag3'">
                            <input class="btn_tag" type="button" style="cursor: pointer" value='#In the Drama/Movie' onclick="location.href='tag4'">
                            <input class="btn_tag" type="button" style="cursor: pointer" value='#For foreigners' onclick="location.href='tag5'">
                            <input class="btn_tag" type="button" style="cursor: pointer" value='#MUKBANG' onclick="location.href='tag6'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero Area End-->
    <!--? Popular Locations Start 01-->
    <div class="popular-location border-bottom section-padding40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>Explore Historical Place </h2>
                        <p>Let's uncover the story to visit in seoul.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" onclick="location.href='range_search?category=History'">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img id="imgMap" src="/assets/img/gallery/historicalplace.jpg" width="400" height="400" >
                        </div>
                        <div class="location-details">
                            <p>history</p>
                            <a href="#" class="location-btn"><span th:text="${countOfEachCategory.get('History')}"></span> <i class="ti-plus"></i> Listing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" onclick="location.href='range_search?category=Market'">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="/assets/img/gallery/Traditionalmarket.jpg" width="400" height="400" >
                        </div>
                        <div class="location-details">
                            <p>Traditional Market</p>
                            <a href="#" class="location-btn"><span th:text="${countOfEachCategory.get('Market')}"></span> <i class="ti-plus"></i> Listing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" onclick="location.href='range_search?category=Temple'">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="/assets/img/gallery/templeInSeoul.jpg" width="400" height="400">
                        </div>
                        <div class="location-details">
                            <p>Temple</p>
                            <a href="#" class="location-btn"><span th:text="${countOfEachCategory.get('Temple')}"></span> <i class="ti-plus"></i> Listing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" onclick="location.href='range_search?category=Bukchon_traditional_activity'">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="/assets/img/gallery/bukchon.jpg" width="400" height="400" >
                        </div>
                        <div class="location-details">
                            <p>BukChon Traditional Activity</p>
                            <a href="#" class="location-btn"><span th:text="${countOfEachCategory.get('Bukchon_traditional_activity')}"></span> <i class="ti-plus"></i> Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Locations End -->

    <!--? Want To work 02-->
    <section class="wantToWork-area">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <img src="/assets/img/logo/labelImg2.png" alt="" class="mb-20">
                            <p>The Capital City of Korea, Seoul is the most exciting place to visit.
                                There are many places have the soul and ear of ancestors</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="footer-social f-right sm-left">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Want To work 01-->
    <section class="wantToWork-area">
        <div class="container">
            <div class="wants-wrapper">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <a href="#" class="btn f-right sm-left">Add Listing</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
</main>
<footer>
    <div class="footer-wrapper pt-30">
        <!-- footer-bottom -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-9 ">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script>
    function button_tag1() {

    }
</script>
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>



</body>
</html>