<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>Title</title>
        <style>
            .overlaybox {position:relative;width:360px;height:350px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png') no-repeat;padding:15px 10px;}
            .overlaybox div, ul {overflow:hidden;margin:0;padding:0;}
            .overlaybox li {list-style: none;}
            .overlaybox .boxtitle {color:#fff;font-size:16px;font-weight:bold;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png') no-repeat right 120px center;margin-bottom:8px;}
            .overlaybox .first {position:relative;width:247px;height:136px;background: url('https://img.hankyung.com/photo/202004/AKR20200430052200064_01_i.jpg') no-repeat;margin-bottom:8px;}
            .first .text {color:#fff;font-weight:bold;}
            .first .triangle {position:absolute;width:48px;height:48px;top:0;left:0;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png') no-repeat; padding:6px;font-size:18px;}
            .first .movietitle {position:absolute;width:100%;bottom:0;background:rgba(0,0,0,0.4);padding:7px 15px;font-size:14px;}
            .overlaybox ul {width:247px;}
            .overlaybox li {position:relative;margin-bottom:2px;background:#2b2d36;padding:5px 10px;color:#aaabaf;line-height: 1;}
            .overlaybox li span {display:inline-block;}
            .overlaybox li .number {font-size:16px;font-weight:bold;}
            .overlaybox li .title {font-size:13px;}
            .overlaybox li .up {background-position:0 -40px;}
            .overlaybox li .down {background-position:0 -60px;}
            .overlaybox li .count {position:absolute;margin-top:5px;right:15px;font-size:10px;}
            .overlaybox li:hover {color:#fff;background:#d24545;}
            .overlaybox li:hover .up {background-position:0 0px;}
            .overlaybox li:hover .down {background-position:0 -20px;}
        </style>
    </head>
    <body>
        <div class="">
            <div id="map" style="width:100%;height:600px; position: relative"></div>
            <div id="menu_wrap" class="" style="margin-top: 100px; width:250px;background:rgba(255, 255, 255, 0.7);z-index: 1;
                                                position:absolute;top:0;left:0;bottom:0;overflow-y:auto;">
                <div class="">
                    <div>
                        <form onsubmit="searchSpace(); return false;">
                            Input : <input type="text" value="Gajeongdang" id="keyword" size="15">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList"></ul>
            </div>
        </div>
        <br>
        <div class="" style="position:relative;top:-600px;z-index:1;">
            <div class="">
                <button class="" data-toggle="dropdown">테마 선택<span class=""></span></button>
                <ul class="dropdown-menu">
                    <tr th:each="theme_category : ${theme}">
                        <li th:attr="onclick=|searchTheme('${theme_category}')|"><td th:text="${theme_category}"></td></li>
                        <li class=""></li>
                    </tr>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5db5bc5cb635e2c58b02d573f5402a27"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var culture = /*[[${culture}]]*/ 'default'; // 전체 데이터
            var theme_category = /*[[${theme}]]*/ 'default'; // 테마들
            /*]]>*/

            // 데이터 처리
            var theme = []; // 데이터들이 저장될 배열 [[유적지 테마 데이터들(딕셔너리들)], [사찰 테마 데이터들(딕셔너리들)], ...]
            for (var i = 0; i < theme_category.length; i++) {
                theme.push([]); // 테마 수만큼 배열 생성
            }
            for (var i = 0; i < culture.length; i++) {
                var info = JSON.parse(culture[i]); // 해당 테마의 정보들
                var idx = theme_category.indexOf(info.category); // 해당 테마의 인덱스
                // 테마 배열에 테마 정보들 저장
                theme[idx].push({
                    category: info.category,
                    k_name: info.k_name,
                    e_name: info.e_name,
                    lng: info.lng,
                    lat: info.lat,
                    gu: info.gu,
                    dong: info.dong,
                    k_describe: info.k_describe,
                    e_describe: info.e_describe,
                    tel: info.tel,
                    img_url: info.img_url,
                    tag: info.tag
                });
            }

            // 현재 테마 정보 관리 변수
            var current_theme_index = 0; // 현재 설정된 테마의 인덱스
            var current_theme = theme_category[current_theme_index]; // 현재 설정된 테마

            // 반경 관리 변수
            var distance = 100000; // 미터 단위의 반경 (현재 디버깅 때문에 이렇게 설정. 후에 대폭 감소 예정)

            // 지도 처리
            var mapContainer = document.getElementById('map'); // 지도를 표시할 div
            var mapOption = {
                center: new kakao.maps.LatLng(37.566535, 126.9779692), // 지도의 중심 좌표
                level: 9 // 지도의 확대 레벨 (현재 디버깅 때문에 이렇게 설정. 후에 1로 설정 예정)
            };
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성
            var mapTypeControl = new kakao.maps.MapTypeControl(); // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도 타입 컨트롤 생성
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT); // 지도에 타입 컨트롤 추가
            var zoomControl = new kakao.maps.ZoomControl(); // 지도 확대 축소를 제어할 수 있는 줌 컨트롤 생성
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT); // 지도에 줌 컨트롤 추가

            // 마커 관리 변수
            var markers = []; // 마커가 저장될 배열
            var markerImageSrc = [
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png"]; // 각 테마에 해당하는 마커 이미지의 이미지 주소

            // 인포 윈도우 관리 변수
            var infowindow = new kakao.maps.InfoWindow({zIndex:1}); // 검색 결과 목록이나 마커에 마우스를 올렸을 때 정보를 표시할 인포윈도우 생성

            // 커스텀 오버레이 관리 변수
            var customOverlays = []; // 커스텀 오버레이가 저장될 배열

            // watchPosition 옵션 변수
            var options = {
                enableHighAccuracy: true, // 위치 탐지의 정밀도 증가하지만 전력 소모 증가
                maximumAge: 0, // 위치 보존 시간으로 0일 경우 캐시에서 확인 안 하고, 매번 새로운 위치를 결정함
                timeout: Infinity // 위치 결정에 걸리는 시간으로 이 milliseconds 시간 안에 새로운 위치를 결정할 수 없으면 에러 핸들러 호출됨
            };

            // watchPosition 관리 변수
            var watchId = navigator.geolocation.watchPosition(success, error, options); // 실시간으로 위치 트래킹 (위치 정보가 변경된 경우에만 success 콜백 함수 호출됨)

            // watchPosition error 핸들러
            function error() {
                alert('위치를 찾을 수 없습니다.');
            }

            // 실시간 위치 갱신 및 반경에 있는 선택한 테마들 정보 표시하는 함수 (watchPosition success 핸들러)
            function success(pos) {
                var lat = pos.coords.latitude; // 현재 위도
                var lng = pos.coords.longitude; // 현재 경도

                // 마커 초기화
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];

                // 목록 초기화
                var listEl = document.getElementById('placesList');
                var menuEl = document.getElementById('menu_wrap');
                var fragment = document.createDocumentFragment();
                removeAllChildNods(listEl); // 검색 결과 목록에 추가된 항목들 제거

                var currentLocation = new kakao.maps.LatLng(lat, lng); // 이동할 위도 경도 위치 생성
                map.setCenter(currentLocation); // 지도 중심 이동

                var index = 1; // 결과 번호
                var lineLine = new kakao.maps.Polyline();
                for (var i = 0; i < theme[current_theme_index].length; i++) {
                    var linePath = [currentLocation, new kakao.maps.LatLng(theme[current_theme_index][i].lat, theme[current_theme_index][i].lng)]; // 두 위치 지정
                    lineLine.setPath(linePath);

                    // 해당 장소가 설정한 반경 내에 있을 경우
                    if (Math.round(lineLine.getLength()) <= distance) {
                        // 마커 처리
                        var imageSize = new kakao.maps.Size(24, 35); // 마커 이미지의 크기
                        var markerImage = new kakao.maps.MarkerImage(markerImageSrc[current_theme_index], imageSize); // 마커 이미지 생성
                        var marker = new kakao.maps.Marker({ // 마커 생성
                            map: map, // 마커를 표시할 지도
                            position: new kakao.maps.LatLng(theme[current_theme_index][i].lat, theme[current_theme_index][i].lng), // 마커를 표시할 위치
                            title : theme[current_theme_index][i].e_name, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됨
                            image : markerImage // 마커 이미지
                        });
                        markers.push(marker);

                        // 목록 처리
                        var itemEl = getListItem(index, theme[current_theme_index][i]); // 검색 결과 항목 Element 생성
                        (function(marker, spaceInfo) {
                            itemEl.onmouseover =  function () { // 검색결과 항목에 mouseover 했을 때
                                displayInfowindow(marker, spaceInfo); // 인포윈도우에 정보 표시
                            };
                            itemEl.onmouseout =  function () { // 검색결과 항목에서 mouseout 했을 때
                                infowindow.close(); // 인포윈도우 닫음
                            };
                        })(marker, theme[current_theme_index][i]);
                        fragment.appendChild(itemEl);

                        index += 1;
                    }
                }
                listEl.appendChild(fragment); // 검색결과 항목들을 검색결과 목록 Element에 추가
                menuEl.scrollTop = 0;
            }

            // 인포 윈도우 표시 함수 (인포 윈도우 내용 및 디자인 변경 시 이 안에 있는 HTML 코드 변경해야 함)
            function displayInfowindow(marker, spaceInfo) {
                var content = '<div style="padding:5px;z-index:1;">' + spaceInfo.e_name + '<br>' + spaceInfo.tel + '</div>';
                infowindow.setContent(content);
                infowindow.open(map, marker);
            }

            // 검색결과 항목을 Element로 반환하는 함수 (목록 내용 및 디자인 변경 시 이 안에 있는 HTML 코드 변경해야 함)
            function getListItem(index, spaceInfo) {
                var el = document.createElement('li');
                var itemStr = '<span class="markerbg marker_' + index + '"></span>' + '<div class="info">' + '   <h5>' + spaceInfo.e_name + '</h5>';
                itemStr += '  <span class="tel">' + spaceInfo.tel + '</span>' + '</div>';
                el.innerHTML = itemStr;
                el.className = 'item';
                return el;
            }

            // 검색결과 목록의 자식 Element를 제거하는 함수
            function removeAllChildNods(el) {
                while (el.hasChildNodes()) {
                    el.removeChild (el.lastChild);
                }
            }

            // 테마 설정 시 테마 변경하는 함수
            function searchTheme(theme_name) {
                current_theme = theme_name; // 현재 테마 변경
                current_theme_index = theme_category.indexOf(theme_name); // 현재 테마의 인덱스 변경

                // 변경된 테마 정보에 맞게 출력될 정보들 갱신하는 효과
                navigator.geolocation.clearWatch(watchId); // 실시간 위치 트래킹 활동 중지
                watchId = navigator.geolocation.watchPosition(success, error, options); // 실시간으로 위치 트래킹
            }

            // 검색한 장소의 커스텀 오버레이 표시 함수
            function searchSpace() {
                var name = document.getElementById('keyword').value; // 검색한 장소

                // 장소를 입력하지 않았을 경우
                if (!name.replace(/^\s+|\s+$/g, '')) {
                    alert('장소를 입력하세요.');
                    return false;
                }

                // 커스텀 오버레이 초기화
                for (var i = 0; i < customOverlays.length; i++) {
                    customOverlays[i].setMap(null);
                }
                customOverlays = [];

                // 반경 상관 없이 검색한 장소 탐색
                var find = false; // 검색 성공 여부
                for (var i = 0; i < theme.length; i++) {
                    for (var j = 0; j < theme[i].length; j++) {
                        // 검색한 장소가 있을 경우
                        if (theme[i][j].e_name.toLowerCase() == name.toLowerCase()) {
                            // 지도 중심을 검색한 장소로 이동
                            var moveLatLon = new kakao.maps.LatLng(theme[i][j].lat, theme[i][j].lng); // 이동할 위도 경도 위치 생성
                            map.setCenter(moveLatLon); // 지도 중심 이동
                            map.setLevel(9, { // 지도의 확대 레벨 (현재 디버깅 때문에 이렇게 설정. 후에 1로 설정 예정)
                                animate: { // 지도 확대
                                    duration: 350 // 확대 애니메이션 시간
                                }
                            });

                            // 검색한 장소 커스텀 오버레이 표시
                            displayCustomOverlay(j+1, name, moveLatLon, theme[i][j].tel);

                            find = true;
                            break;
                        }
                    }
                    // 검색 결과가 있을 경우
                    if (find) {
                        break;
                    }
                }

                // 검색 결과가 없을 경우
                if (!find) {
                    alert('검색 결과가 없습니다.');
                }
            }

            // 커스텀 오버레이 표시 함수 (커스텀 오버레이 내용 및 디자인 변경 시 이 안에 있는 HTML 코드 변경해야 함)
            function displayCustomOverlay(index, name, pos, tel) {
                // 커스텀 오버레이에 표시할 내용 (HTML 문자열 또는 Dom Element)
                var content = '<div class="overlaybox">' +
                    '    <div class="boxtitle">' + name + '</div>' +
                    '    <div class="first">' +
                    '        <div class="triangle text">' + index + '</div>' +
                    '        <div class="movietitle text">' + tel + '</div>' +
                    '    </div>' +
                    '    <ul>' +
                    '        <li class="up">' +
                    '            <span class="title">해당 사찰 설명 및 링크</span>' +
                    '            <span class="arrow up"></span>' +
                    '        </li>' +
                    '    </ul>' +
                    '</div>';
                var position = pos; // 커스텀 오버레이가 표시될 위치
                var customOverlay = new kakao.maps.CustomOverlay({ // 커스텀 오버레이 생성
                    position: position,
                    content: content,
                    xAnchor: 0.3,
                    yAnchor: 0.91
                });
                customOverlay.setMap(map); // 커스텀 오버레이를 지도에 표시
                customOverlays.push(customOverlay);
            }
        </script>
    </body>
</html>
